<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pagaapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PagaApp">
        <activity android:name=".PagaCreditosBancarios.CreditosPersonales"></activity>
        <activity android:name=".PagaCreditosBancarios.PagoFallidoCB" />
        <activity android:name=".PagaCreditosBancarios.PagoExitosoCB" />
        <activity android:name=".PagaCreditosBancarios.PagaCreditosBancarios" />
        <activity android:name=".PagaTarjetaCredito.PagoFallidoTC" />
        <activity android:name=".PagaTarjetaCredito.PagoExitosoTC" />
        <activity android:name=".PuntajeCrediticio.TipsCrediticios" />
        <activity android:name=".PuntajeCrediticio.PuntajeCrediticio" />
        <activity android:name=".QrEstablecimientos.EscaneaQrPago" />
        <activity android:name=".RecargaBancosPse.RecargaEfectivo" />
        <activity android:name=".RecargaBancosPse.RecargaPSE" />
        <activity android:name=".RecargaBancosPse.RecargarCuenta" />
        <activity android:name=".HistorialDePagos.HistorialPagos" />
        <activity android:name=".BolsilloDinero.BolsilloAhorrador" />
        <activity android:name=".PagaTarjetaCredito.PagaTarjetaCredito" />
        <activity android:name=".IngresoPassword.Menu" />
        <activity android:name=".IngresoPassword.Soporte" />
        <activity android:name=".IngresoPassword.OlvideMiClave" />
        <activity android:name=".IngresoPassword.Ingresar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>